html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App {
  margin: 0 !important;
  padding: 0 !important;
}

img.jw411-logo {
  max-height: 100px;
  float: left;
  margin: 5px 0 0 0;
  padding: 0 25px 0 0;
}

img.jw411-large-image {
  max-width: 100%;
}

img.jw411-image-fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}